$white: #fff;
$black: #000000;
$blue: #018ffd;

/* Icon Color Defaults */

$man: #0183e7;
$woman: #e701b4;
$girl: lighten($woman, 0.5);
$boy: lighten($man, 0.5);
$college: #01e721;
$high-school: #e70c01;



.man {
	color: $man;
}
.men {
	color: darken($man, .75);
}

.woman {
	color: $woman;
}

.women {
	color: darken($woman, .75);
}

.girl {
	color: $girl;
}

.boy {
	color: $boy;
}

.baby_b {
	color: darken($man, .5);
}

.baby_g {
	color: darken($woman, .5);
}

.college {
	color: $college;
}

.hs {
	color: $high-school;
}

