@import "bootstrap";
@import "compass/css3";
@import "_default_color";


body {
    margin: 0;
    padding: 0;
    background: url('../img/lgm_bg.jpg') repeat 0 0;
}

input {
    width: 100% !important;
}

.container {
    padding-top:70px;
}

.panel button {
    margin:10px 0;
}

.register {
    text-align:right;
}
.masthead {
    padding: 85px 10px;
    background: url('../img/map_underlay.jpg') no-repeat;
    background-size: cover;
    @include transition(padding 0.27 ease);
}

.navbar {
    margin-bottom:0;
}
.btn-default {
    margin-right:15px;
}

@media (min-width:768px) {
    .masthead {
        padding: 225px 10px;
        @include transition(padding 0.27 ease);
    }
}
.secret {
    display: none;
    @include opacity(0);
    @include transition(all .4s);
}

.hide {
    display:none;
    @include opacity(0);
    @include transition(all .4s);
}
.show {
    display:block;
    @include opacity(1);
    @include transition(all .4s);
}
.adminlogin {
    text-align: right;
}
.top-panel {
    position:absolute;
    top: 0;
    left: 0;
    z-index:9999;
}

.angular-leaflet-map {
    display:block;
    // height:1px;
}

.leaflet-top.leaflet-left {
    right: 0 !important;
}

.leaflet-control {
    float:right !important;
}
.leaflet-left .leaflet-control {
    margin-right:10px !important; 
}

.leaflet-div-icon {
    background:none !important;
    border:0 !important;
}

#container {
    
    overflow:hidden;
    background: #ffffff;
    @include border-radius(6px);
    @include box-shadow(0 0 46px rgba(#000,0.5));


    #inner {
        margin:16px 0;
        // height:250px;
        @include border-radius(6px);
        @include box-shadow(inset 0 0 15px #000);
        background: url('../img/map_underlay.jpg') no-repeat;
        background-size: cover;
        color:#fffff;

        label {
            color: #ffffff;
        }

        input {
            background: rgba(#fff, 0.4);
            border:0;
            @include transition(all .4s);
            &.failure {
                @include transition(all .4s);
                border:2px solid rgba(#ff0000, 0.9);
            }

            &:focus {
                background: rgba(#fff, 0.9);
            }
        }
    }

    #launch {
        height: 40px;
        margin-top:15px;
        width: 100%;
        font-family: "Arial";
        font-weight:bold;
        font-size:18px;
        background: #ffffff;
        color:#018ffd;
        text-align: center;
        @include border-radius(6px);
        border:0;
        @include transition(all .4s);
        cursor:pointer;

        &:hover {
            color: #ffffff;
            background: #018ffd;
            @include transition(all .4s);
        }
    }

    #logo_panel {
        background: rgba(#fff, 0.7);
        padding:5px 10px 10px 25px;
        margin-bottom:15px;
        //border-bottom:1px solid #ededed;

        img {
            width:70%;
        }
    }


}

#sidebar {
    position:absolute;
    left: 10px;
    top: 65px;
    width: 300px;
    z-index: 200;
    display: block;
    background: rgba(#fff, 0.7);
    // @include box-shadow(0 0 10px rgba(#000, 0.4));

    #logo {
        border-bottom: 1px solid rgba(#949494, 0.5);
        background: rgba(#fff, 0.8);
    }
    p {
        text-align:right;
        margin-right:10px;
        color: $blue;
    }

    #searchContainer {
            padding:5px;
            @include border-radius(3px);
            background: rgba(#fff, 0.8);
            left:-20px;
            margin-bottom: 20px;

            input {
                left:22px;
                width:217px;
                margin-bottom:0;
                border:0;

            }
        &:before {
            position:relative;
            left:-50px;
            width:220px;
        }
    }

}
.width_auto {width:auto !important};
.padding_0_right {padding-right: 0 !important};
.padding_0_left {padding-left: 0 !important};
.padding_0_top {padding-top: 0 !important};
.padding_0_bottom {padding-bottom: 0 !important};
